Repository CasperWA/turtle-canon: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, update-docs-api-reference, update-docs-index, codecov-validator

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-symlinks
  - id: check-yaml
    name: Check YAML
  - id: check-xml
    name: Check XML
    files: \.(xml|rdf|ttl)$
  - id: destroyed-symlinks
  - id: end-of-file-fixer
    exclude: ^.*\.ttl$
  - id: requirements-txt-fixer
    name: Fix requirements*.txt
    files: ^requirements.*\.txt$
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
    exclude: ^.*\.ttl$

- repo: https://github.com/ambv/black
  rev: 22.3.0
  hooks:
  - id: black
    args:
      - --config=pyproject.toml

- repo: https://github.com/PyCQA/bandit
  rev: '1.7.4'
  hooks:
  - id: bandit
    args: [-r]
    exclude: ^tests/.*$

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.961
  hooks:
  - id: mypy
    exclude: ^tests/.*$
    additional_dependencies: ["types-PyYAML"]

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: python
    types: [python]
    require_serial: true
    exclude: ^tests/.*$
  - id: update-docs-api-reference
    name: Update API Reference in Documentation
    entry: invoke
    args: [create-api-reference-docs, --pre-clean, --pre-commit]
    language: python
    pass_filenames: false
    files: ^turtle_canon/.*\.py$
    description: Update the API Reference documentation, whenever a Python file is touched in the code base.
  - id: update-docs-index
    name: Update Landing Page for Documentation
    entry: invoke
    args: [create-docs-index]
    language: python
    pass_filenames: false
    files: ^README\.md$
    description: Update the landing page for the documentation if the source file (README.md) is changed.
  - id: codecov-validator
    name: Validate .codecov.yml
    description: Validate .codecov.yml using codecov's online validation tool.
    entry: ./.github/utils/codecov_validator.sh
    files: ^\.codecov\.yml$
    language: system

Update `pre-commit` hooks (#176)
  .pre-commit-config.yaml
Due: none

Deployed 898807b to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/404.html
  latest/LICENSE/index.html
  latest/api_reference/canon/index.html
  latest/api_reference/cli/cmd_turtle_canon/index.html
  latest/api_reference/cli/utils/index.html
  latest/api_reference/utils/exceptions/index.html
  latest/api_reference/utils/warnings/index.html
  latest/design/index.html
  latest/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Use pyproject.toml and upgrade to Python 3.10
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .pre-commit-hooks.yaml
  MANIFEST.in
  README.md
  docs/index.md
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_docs.txt
  setup.py
Due: pylint, update-docs-index

Use SINTEF/ci-cd throughout where possible
  .github/dependabot.yml
  .github/utils/release_tag_msg.txt
  .github/utils/single_dependency_pr_body.txt
  .github/utils/update_docs.sh
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  pyproject.toml
  tasks.py
Due: pylint

Use an explicit boolean value for key in .codecov.yml
  .codecov.yml
Due: codecov-validator

Only support Python 3.10
  pyproject.toml
Due: none

Update code base according to ruff and pyupgrade
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  pyproject.toml
  tests/cli/conftest.py
  tests/cli/test_cmd_turtle_canon.py
  tests/conftest.py
  tests/test_canon.py
  tests/test_turtle_canon.py
  turtle_canon/__init__.py
  turtle_canon/canon.py
  turtle_canon/cli/cmd_turtle_canon.py
  turtle_canon/cli/utils.py
  turtle_canon/utils/exceptions.py
  turtle_canon/utils/warnings.py
Due: pylint, update-docs-api-reference

Update codecov CI action input
  .github/workflows/ci_tests.yml
Due: none

Add back the name input
  .github/workflows/ci_tests.yml
Due: none

Add PermissionError to list of exceptions to catch
  turtle_canon/canon.py
Due: pylint, update-docs-api-reference

Run a-pre-commit-hook job for all matrix strategies
  .github/workflows/ci_tests.yml
Due: none

Explicitly install git and write out pre-commit.log
  .github/workflows/ci_tests.yml
Due: none

Up to minimum use pre-commit v1.14.0
  .github/workflows/ci_tests.yml
Due: none

test all other v1 versions up to latest
  .github/workflows/ci_tests.yml
Due: none

Check v1.14 patch versions
  .github/workflows/ci_tests.yml
Due: none

Update minimum pre-commit version in hook
  .github/workflows/ci_tests.yml
  .pre-commit-hooks.yaml
Due: none

Upgrade code base (#179)
  .codecov.yml
  .github/dependabot.yml
  .github/utils/release_tag_msg.txt
  .github/utils/single_dependency_pr_body.txt
  .github/utils/update_docs.sh
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  MANIFEST.in
  README.md
  docs/index.md
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_docs.txt
  setup.py
  tasks.py
  tests/cli/conftest.py
  tests/cli/test_cmd_turtle_canon.py
  tests/conftest.py
  tests/test_canon.py
  tests/test_turtle_canon.py
  turtle_canon/__init__.py
  turtle_canon/canon.py
  turtle_canon/cli/cmd_turtle_canon.py
  turtle_canon/cli/utils.py
  turtle_canon/utils/exceptions.py
  turtle_canon/utils/warnings.py
Due: pylint, update-docs-api-reference, update-docs-index, codecov-validator

Fix release workflow
  .github/workflows/cd_release.yml
Due: none

Fix workflow for updates to 'main'
  .github/workflows/ci_cd_updated_main.yml
Due: none

Fix typo in workflow
  .github/workflows/ci_cd_updated_main.yml
Due: none

Deployed 4b6ec11 to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/api_reference/canon/index.html
  latest/api_reference/cli/cmd_turtle_canon/index.html
  latest/api_reference/cli/utils/index.html
  latest/api_reference/utils/exceptions/index.html
  latest/api_reference/utils/warnings/index.html
  latest/assets/_mkdocstrings.css
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Also update docs landing page with version
  .github/workflows/cd_release.yml
Due: none

Deployed 4b29f1a to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/sitemap.xml.gz
Due: none

Release v0.1.0 - Changelog
  README.md
  docs/index.md
Due: update-docs-index

Revert "Release v0.1.0 - Changelog"
  README.md
  docs/index.md
Due: update-docs-index

Deployed 970a938 to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/sitemap.xml.gz
Due: none

Deployed 26896cf to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Due: none

Manually update Python version to 0.1.0
  turtle_canon/__init__.py
Due: pylint, update-docs-api-reference

Deployed 8e92d38 to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/sitemap.xml.gz
Due: none

Ensure the __version__ is also updated upon release
  .github/workflows/cd_release.yml
Due: none

Deployed f6dc0c3 to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/sitemap.xml.gz
Due: none

Update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

Update `pre-commit` hooks (#180)
  .pre-commit-config.yaml
Due: none

Deployed c10b47a to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/sitemap.xml.gz
Due: none

[Auto-generated] Update dependencies (#183)
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_main.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
Due: none

Deployed 677dada to latest with MkDocs 1.5.3 and mike 2.0.0
  latest/404.html
  latest/LICENSE/index.html
  latest/api_reference/canon/index.html
  latest/api_reference/cli/cmd_turtle_canon/index.html
  latest/api_reference/cli/utils/index.html
  latest/api_reference/utils/exceptions/index.html
  latest/api_reference/utils/warnings/index.html
  latest/assets/javascripts/bundle.7389ff0e.min.js
  latest/assets/javascripts/bundle.7389ff0e.min.js.map
  latest/assets/javascripts/bundle.d7c377c4.min.js
  latest/assets/javascripts/bundle.d7c377c4.min.js.map
  latest/assets/javascripts/workers/search.c011b7c0.min.js
  latest/assets/javascripts/workers/search.c011b7c0.min.js.map
  latest/assets/javascripts/workers/search.f886a092.min.js.map
  latest/design/index.html
  latest/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none
